APP_ENV=production
APP_DEBUG=false
APP_NAME=Control de Asistencia
APP_TZ=America/Lima
BASE_URL=/eventos/

DB_DRIVER=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=asistencia_db
DB_USER=postgres
DB_PASS=postgres
DB_SSLMODE=prefer
